.homeWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: repeat(4, 1fr);
}

.mainPic {
    grid-column: 1 / 10;
    grid-row: 1/1;
    justify-self: center;
    width: 100%;
    height: 95vh;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.mainPicTitle {
   font-size: 46px;
   color: #414747;
   background-color: transparent;
   grid-column: 1 / 4;
   grid-row: 1/1;
   margin-top: 1em;
   justify-self: center;
   font-family: 'Parisienne', cursive;
   font-weight: 1000;
   animation: leftToRight 1s;
}

.createTableButton {
   grid-column: 1 / 4;
   grid-row: 1/1;
   cursor: pointer;
   width: 12em;
   height: 3em;
   font-size: 32px;
   color: #414747;
   background-color: transparent;
   justify-self: center;
   font-family: 'Oswald', sans-serif;
   margin-top: 5em;
   border: 2px solid #414747;
   border-radius: 15px;
   transition: all 0.5s;
   animation: leftToRight 2s;
}

.createTableButton:hover {
   transition: all 0.5s;
   color: white;
   background-color: rgb(110, 145, 110, 0.5);
}

.subTitle:hover {
   letter-spacing: 4px;
   -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
   -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
   box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.you {
   animation: change-color 3.5s ease;
   color: #d80013;
}

@keyframes change-color {
   0% {
     color: #414747;
   }
   50% {
      color: #414747;
    }
}

@keyframes leftToRight {
    0% {
       opacity: 0;
       transform: translateX(-200px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @keyframes fadeInEffect {
    0% {
       opacity: 0;
       transform: translateX(0);
    }
    50% {
       opacity: 0;
       transform: translateX(0);
    }
    80% {
       opacity: 0;
       transform: translateX(0);
    }
    90% {
       opacity: 0.5;
       transform: translateX(0);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
