.homeWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: repeat(4, 1fr);
}

.mainPic {
    grid-column: 1 / 10;
    grid-row: 1/1;
    justify-self: center;
    width: 100%;
    height: 94vh;
}

.mainPicTitle {
   font-size: 40px;
   color: white;
   background-color: transparent;
   grid-column: 4 / 10;
   grid-row: 1/1;
   margin-top: 1em;
   justify-self: center;
   font-family: 'Alegreya Sans SC', sans-serif;
}

.createTableButton {
   grid-column: 4 / 10;
   grid-row: 1/1;
   cursor: pointer;
   width: 10em;
   height: 3em;
   font-size: 36px;
   color: white;
   background-color: transparent;
   justify-self: center;
   font-family: 'Alegreya Sans SC', sans-serif;
   margin-top: 5em;
   border: 3px solid #ffffff;
   border-radius: 25px;
   transition: all 0.5s;
}

.createTableButton:hover {
   transition: all 0.5s;
   width: 11em;
   height: 3.5em;
}

.subTitle:hover {
   letter-spacing: 4px;
   -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
   -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
   box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

@keyframes leftToRight {
    0% {
       opacity: 0;
       transform: translateX(-200px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @keyframes fadeInEffect {
    0% {
       opacity: 0;
       transform: translateX(0);
    }
    50% {
       opacity: 0;
       transform: translateX(0);
    }
    80% {
       opacity: 0;
       transform: translateX(0);
    }
    90% {
       opacity: 0.5;
       transform: translateX(0);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
