.footerContainer {
    width: 100%;
    background-color: #427271;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    }
    
.helpLI, .aboutLI {
    list-style: none;
}

.helpLI {
    color: red;

}

.aboutLI {
    color: orange;
    margin-left: 10%;
}

.OLhelp {
}

.OLAbout {

}