.footerWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footerList {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: #427271;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    