.accordion-section {
    display: flex;
    flex-direction: column;
  }
  
  .accordion-title {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
  }
  
  .accordion-title:hover, .active {
    background-color: #ffffff;
  }
  
  .accordion-icon {
    margin-left: auto;
    margin-right: 20px;
    transition: transform 0.4s ease;
  }
  
  .rotate {
    transform: rotate(90deg);
  }
  
  .accordion-content {
    background-color: #40424e;
    font-family: pxgrotesklight web,helvetica neue,Arial,sans-serif;
    color: #ffffff;
    overflow: hidden;
    transition: max-height 0.6s ease;
  }

  