.climateSectionWrapper {
    grid-column: 1 / 10;
    grid-row: 2/2;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.treeLogo {
    grid-column: 5 / 7;
    grid-row: 1/1;
    justify-self: center;
    height: 50vh;
}

.title {
    font-size: 42px;
    z-index: 1;
    color:#6abb20;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    grid-column: 2/6;
    grid-row: 1/1;
    justify-self: start;
    animation-name: leftToRight;
    animation-duration: 1.7s;
}

.subTitle {
    font-size: 24px;
    cursor: pointer;
    color:#6abb20;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 600;
    grid-column: 7/9;
    grid-row: 1/1;
    z-index: 1;
    justify-self: center;
    align-self: end;
    border-bottom: 2px solid#78c7d2;
    animation-name: fadeInEffect;
    animation-duration: 2s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}