.climateSectionWrapper {
    grid-column: 1 / 10;
    grid-row: 2/2;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.treeLogo {
    grid-column: 2 / 6;
    grid-row: 1/1;
    justify-self: center;
}

.fa-heartbeat {
    color: #DB4437;
}

.climateTitleContainer {
    grid-column: 5/9;
    grid-row: 1/1;
    justify-self: center;
    align-self: center;
}

.climateTitle {
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    z-index: 1;
    color: #585d72;
    margin-left: 10%;

}

.climateParagraph {
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    z-index: 1;
    color:#585d72;
}


.climateReadMore {
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    color:#238823;
    width: 12em;
    height: 3em;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    color: #414747;
    font-weight: 600;
    border: 2px solid #414747;
    border-radius: 15px;
    transition: all 0.5s;
    margin-left: 20%;
    margin-top: 100px;
}
.climateReadMore:hover {
    transition: all 0.5s;
    color: white;
    background-color: rgb(110, 145, 110, 0.5);
}