.fa-shopping-cart {
    font-size: 30px;
    transition: 0.3s;
}

.fa-shopping-cart:hover {
    cursor: pointer;
    border-bottom: solid 1px;
    transform: rotate(-6deg);
    font-size: 31px;
    transition: 0.3s;
}