.faqContainer {
    position: absolute;
    margin-top: -25%;
    z-index: 1;
    width: 30%;
    margin-left: 45%;
}

.faqTitle {
    font-family: pxgrotesklight web,helvetica neue,Arial,sans-serif;
    color: #ffffff;
    font-size: 48px;
}