
    .subHeader {
        margin: 0;
        padding: 0;
        color: #ffffff;
        background-color: #292929;
        text-align: center;
        font-family: 'ZCOOL KuaiLe', cursive;
        font-size: 14px;
    }

    .subHeaderListItem {
        display: inline-block;
        margin: 10px;
        margin-right: 130px;
    }