
    .subHeader {
        width: 100%;
        color: #ffffff;
        background-color: #427271;
        margin: -8px;
        margin-top: 8px;
        text-align: center;
        font-family: 'ZCOOL KuaiLe', cursive;
        font-size: 14px;
    }

    .subHeaderListItem {
        display: inline-block;
        margin-right: 130px;
    }