
  .itemsInCart {
    border-bottom: 3px solid #ffffff;
    font-size: 30px;
  }

  .fa-trash {
    font-size: 24px;
    float: left;
    color: white;
    transform: rotateZ(14deg);
    transition: .5s;
    cursor: pointer;
  }

  .fa-trash:hover {
    color: #FF4500;
    transform: rotateZ(140deg);
    transition: .5s;
    cursor: pointer;
  }

  .statHolder {
    font-size: 20px;
  }

  .cartImage {
    position: absolute;
    float: left;
    margin-left: 140px;
    height: 70px;
    width: 70px;
  }

  .checkoutButton, .keepShoppingButton {
    text-align: center;
    cursor: pointer;
    font-size:22px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    transition: all 0.5s;
  }
    
  .checkoutButton {
    margin: 0 0 0 6px; 
    background-color: #29b57c;
  }

  .checkoutButton  span, .keepShoppingButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .checkoutButton span:after, .keepShoppingButton span:after  {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -14px;
    transition: 0.5s;
  }

  .checkoutButton:hover span {
    padding-right: 25px;
  }

  .checkoutButton:hover span:after, .keepShoppingButton:hover span:after {
    opacity: 1;
    right: 0;
  }

  .keepShoppingButton {
     margin: 0 0 0 -6px; 
     background-color:#d35400;
  }


  .keepShoppingButton span:after {
    content: '«';
    margin-right: 160px;
  }

  .keepShoppingButton:hover span {
    padding-left: 25px;
  }