.currentFlag {
    width: 26px;
    margin-left: 10px;
}

.flag {
    width: 24px;
}

 .dropdown {
    position: relative;
    display: inline-block;
  }

 .dropdown:hover .dropdown-content {
    animation: mymovees 0.4s;
  } 
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-right: -60px;
    background-color: #e4e4e4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: monospace;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .arrowImageContainer {
        height: 42.8px;
    }
    
    .arrowImageContainer:hover .fa-caret-left, .dropdown:hover .fa-caret-left  {
        transform: rotate(-90deg);
        transition: 0.2s;
    }
    
    .fa-caret-left {
    transition: 0.2s;
}