html,
body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: slategray;
  outline: 1px solid slategrey;
}

button {
  outline: none !important;
}

a {
  text-decoration: none;
  color: inherit;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

::-moz-selection {
  /* Code for Firefox */
  color: #585d72;
  background: #ffffff;
  ;
}

::selection {
  color: #585d72;
  background: #ffffff;
}

/* Change Autocomplete styles in Chrome*/