.userIcon {
    color: #ffffff;
    font-size: 32px;
    transition: all 0.2s;
}

.userIcon:hover {
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    transition: all 0.2s;
    font-size: 34px;
}